<!DOCTYPE html>
<html>
    <head>
        <title>Create Resume</title>
    </head>

    <body>
        <h1>Create Your Resume</h1>
        <form method="POST">
            <h2>Personal Information</h2>
            </label>Name:</label>
            <input type="text" name="name">
            <br><br>

            <label>Email:</label>
            <input type="email" name="email">
            <br><br>
            
            <label>Date of Birth:</label>
            <input type="text" name="date_of_birth">
            <br><br>

            <label>Phone Number:</label>
            <input type="text" name="phone_number">
            <br><br>

            <label>Location:</label>
            <input type="text" name="location">
            <br><br>

            <h2>Professional Summary</h2>
            <label>Summary:</label>
            <textarea name="summary"></textarea>
            <br><br>

            <h2>Education</h2>

            <label>School:</label>
            <input type="text" name="school">

            <br><br>

            <label>Degree:</label>
            <input type="text" name="degree">

            <br><br>

            <label>Field:</label>
            <input type="text" name="field">

            <br><br>

            <label>Start Year:</label>
            <input type="text" name="start_year">

            <br><br>

            <label>End Year:</label>
            <input type="text" name="end_year">

            <br><br>

            <h2>Work Experience</h2>
            <label>Job Title:</label>
            <input type="text" name="job_title">
            <br><br>

            <label>Company:</label>
            <input type="text" name="company">
            <br><br>

            <label>Location:</label>
            <input type="text" name="location">
            <br><br>

            <label>Start Date:</label>
            <input type="text" name="start_date">
            <br><br>

            <label>End Date:</label>
            <input type="text" name="end_date">
            <br><br>

            <label>Description:</label>
            <textarea name="description"></textarea>
            <br><br>

            <h2>Skills</h2>
            <label>Skill 1:</label>
            <input type="text" name="skill_1">
            <br><br>

            <label>Skill 2:</label>
            <input type="text" name="skill_2">
            <br><br>

            <label>Skill 3:</label>
            <input type="text" name="skill_3">
            <br><br>

            <h2>Certifications</h2>

            <label>Certification Name:</label>
            <input type="text" name="certification_name">
            <br><br>

            <label>Organization:</label>
            <input type="text" name="certification_organization">
            <br><br>

            <label>Date:</label>
            <input type="text" name="certification_date">
            <br><br>

            <h2>Projects</h2>

            <label>Project Name:</label>
            <input type="text" name="project_name">
            <br><br>

            <label>Description:</label>
            <textarea name="project_description" id=""></textarea>
            <br><br>

            <label>Role:</label>
            <input type="text" name="project_role">
            <br><br>

            <label>Tools:</label>
            <input type="text" name="project_tools">
            <br><br>

            <label>Project_Link:</label>
            <input type="text" name="project_link">
            <br><br>

            <h2>Languages</h2>

            <label>Language:</label>
            <input type="text" name="language">
            <br><br>

            <label>Proficiency:</label>
            <input type="text" name="language_proficiency">
            <br><br>

            <h2>Achievements</h2>

            <label>Title:</label>
            <input type="text" name="achievement_title">
            <br><br>

            <label>Description:</label>
            <textarea name="achievement_description"></textarea>
            <br><br>

            <h2>Volunteer Experience</h2>

            <label>Organization:</label>
            <input type="text" name="volunteer_organization">
            <br><br>

            <label>Role:</label>
            <input type="text" name="volunteer_role">
            <br><br>

            <label>Location:</label>
            <input type="text" name="volunteer_location">
            <br><br>

            <label>Start Date:</label>
            <input type="text" name="volunteer_start_date">
            <br><br>

            <label>End Date:</label>
            <input type="text" name="volunteer_end_date">
            <br><br>

            <label>Description:</label>
            <textarea name="volunteer_description"></textarea>
            <br><br>

            <h2>References</h2>

            <label>Name:</label>
            <input type="text" name="reference_name">
            <br><br>

            <label>Relationship:</label>
            <input type="text" name="reference_relationship">
            <br><br>

            <label>Organization:</label>
            <input type="text" name="reference_organization">
            <br><br>

            <label>Email:</label>
            <input type="email" name="reference_email">
            <br><br>
            
            <label>Phone Number:</label>
            <input type="text" name="reference_phone_number">
            <br><br>



            <button type="submit">Save Resume</button>

        </form>
    </body>
</html>