<!DOCTYPE html>
<html>

<head>
    <title>Create Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Create Your Resume</h1>

    <form method="POST" class="resume-form">
        {% if errors %}
        <div class="validation-errors">
            <h3>Please correct the following errors:</h3>

            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


        <h2>Choose Resume Template</h2>

        <label>
            <input type="radio" name="template" value="professional" checked>
            Professional
        </label>

        <label>
            <input type="radio" name="template" value="modern">
            Modern
        </label>

        <h2>Personal Information</h2>

        <label>Name:</label>
        <input type="text" name="name" required>
        <br><br>

        <label>Email:</label>
        <input type="email" name="email" required>
        <br><br>

        <label>Date of Birth:</label>
        <input type="text" name="date_of_birth">
        <br><br>

        <label>Phone Number:</label>
        <input type="text" name="phone_number" required>
        <br><br>

        <label>Location:</label>
        <input type="text" name="location">
        <br><br>


        <h2>Professional Summary</h2>

        <label>Summary:</label>
        <textarea name="summary" required></textarea>
        <br><br>

        <h2>Education</h2>

        <div id="education-container">

            <div class="education-entry">

                <label>School:</label>
                <input type="text" name="school">

                <label>Degree:</label>
                <input type="text" name="degree">

                <label>Field:</label>
                <input type="text" name="field">

                <label>Start Year:</label>
                <input type="text" name="start_year">

                <label>End Year:</label>
                <input type="text" name="end_year">

            </div>

        </div>

        <button type="button" id="add-education">
            + Add Another Education
        </button>
        <h2>Work Experience</h2>

        <div id="work-container">
            <div class="work-entry">
                <label>Job Title:</label>
                <input type="text" name="job_title">

                <label>Company:</label>
                <input type="text" name="company">

                <label>Location:</label>
                <input type="text" name="work_location">

                <label>Start Date:</label>
                <input type="text" name="start_date">

                <label>End Date:</label>
                <input type="text" name="end_date">

                <label>Description:</label>
                <textarea name="description"></textarea>
            </div>
        </div>
        <button type="button" id="add-work">
            + Add another Work Experience
        </button>

        <label>Job Title:</label>
        <input type="text" name="job_title">
        <br><br>

        <label>Company:</label>
        <input type="text" name="company">
        <br><br>

        <label>Location:</label>
        <input type="text" name="work_location">
        <br><br>

        <label>Start Date:</label>
        <input type="text" name="start_date">
        <br><br>

        <label>End Date:</label>
        <input type="text" name="end_date">
        <br><br>

        <label>Description:</label>
        <textarea name="description"></textarea>
        <br><br>

        <h2>Skills</h2>

        <div id="skills-container">

            <div class="skill-entry">
                <label>Skill:</label>
                <input type="text" name="skill">
            </div>

        </div>

        <button type="button" id="add-skill">
            + Add Another Skill
        </button>


        <h2>Certifications</h2>

        <div id="certifications-container">

            <div class="certification-entry">

                <label>Certification Name:</label>
                <input type="text" name="certification_name">

                <label>Organization:</label>
                <input type="text" name="certification_organization">

                <label>Date:</label>
                <input type="text" name="certification_date">

            </div>

        </div>

        <button type="button" id="add-certification">
            + Add Another Certification
        </button>



        <h2>Projects</h2>

        <div id="projects-container"></div>
        <div class="project-entry">
            <label> Project Name:</label>
            <input type="text" name="project_name">

            <label>Description:</label>
            <textarea name="project_description"></textarea>

            <label>Role:</label>
            <input type="text" name="project_role">

            <label>Tools:</label>
            <input type="text" name="project_tools">

            <label>Project Link:</label>
            <input type="text" name="project_link">
        </div>
        <button type="button" id="add-project">
            + Add Another Project
        </button>

        <h2>Languages</h2>

        <div id="languages-container">

            <div class="language-entry">

                <label>Language:</label>
                <input type="text" name="language">

                <label>Proficiency:</label>
                <input type="text" name="language_proficiency">

            </div>

        </div>

        <button type="button" id="add-language">
            + Add Another Language
        </button>

        <h2>Achievements</h2>

        <div id="achievements-container">

            <div class="achievement-entry">

                <label>Achievement Title:</label>
                <input type="text" name="achievement_title">

                <label>Description:</label>
                <textarea name="achievement_description"></textarea>

            </div>

        </div>

        <button type="button" id="add-achievement">
            + Add Another Achievement
        </button>


        <h2>Volunteer Experience</h2>

        <div id="volunteer-container">

            <div class="volunteer-entry">

                <label>Organization:</label>
                <input type="text" name="volunteer_organization">

                <label>Role:</label>
                <input type="text" name="volunteer_role">

                <label>Location:</label>
                <input type="text" name="volunteer_location">

                <label>Start Date:</label>
                <input type="text" name="volunteer_start_date">

                <label>End Date:</label>
                <input type="text" name="volunteer_end_date">

                <label>Description:</label>
                <textarea name="volunteer_description"></textarea>

            </div>

        </div>

        <button type="button" id="add-volunteer">
            + Add Another Volunteer Experience
        </button>



        <h2>References</h2>

        <div id="references-container">

            <div class="reference-entry">

                <label>Name:</label>
                <input type="text" name="reference_name">

                <label>Relationship:</label>
                <input type="text" name="reference_relationship">

                <label>Organization:</label>
                <input type="text" name="reference_organization">

                <label>Email:</label>
                <input type="email" name="reference_email">

                <label>Phone Number:</label>
                <input type="text" name="reference_phone_number">

            </div>

        </div>

        <button type="button" id="add-reference">
            + Add Another Reference
        </button>


        <button type="submit">Save Resume</button>

    </form>
    <a href="/" class="Back-to-Home">Back to Home</a>

    <script>
        const educationContainer = document.getElementById("education-container");
        const addEducationButton = document.getElementById("add-education");

        addEducationButton.addEventListener("click", function () {

            const educationEntry = document.createElement("div");

            educationEntry.className = "education-entry";

            educationEntry.innerHTML = `
            <hr>

            <label>School:</label>
            <input type="text" name="school">

            <label>Degree:</label>
            <input type="text" name="degree">

            <label>Field:</label>
            <input type="text" name="field">

            <label>Start Year:</label>
            <input type="text" name="start_year">

            <label>End Year:</label>
            <input type="text" name="end_year">
        `;

            educationContainer.appendChild(educationEntry);
        });
    </script>


    <script>
        const workContainer = document.getElementById("work-container");
        const addWorkButton = document.getElementById("add-work");

        addWorkButton.addEventListener("click", function () {

            const workEntry = document.createElement("div");

            workEntry.className = "work-entry";

            workEntry.innerHTML = `
            <hr>

            <label>Job Title:</label>
            <input type="text" name="job_title">

            <label>Company:</label>
            <input type="text" name="company">

            <label>Location:</label>
            <input type="text" name="work_location">

            <label>Start Date:</label>
            <input type="text" name="start_date">

            <label>End Date:</label>
            <input type="text" name="end_date">

            <label>Description:</label>
            <textarea name="description"></textarea>
        `;

            workContainer.appendChild(workEntry);
        });
    </script>

    <script>
        const skillsContainer = document.getElementById("skills-container");
        const addSkillButton = document.getElementById("add-skill");

        addSkillButton.addEventListener("click", function () {

            const skillEntry = document.createElement("div");

            skillEntry.className = "skill-entry";

            skillEntry.innerHTML = `
            <hr>

            <label>Skill:</label>
            <input type="text" name="skill">
        `;

            skillsContainer.appendChild(skillEntry);
        });
    </script>

    <script>
        const projectsContainer = document.getElementById("projects-container");
        const addProjectButton = document.getElementById("add-project");

        addProjectButton.addEventListener("click", function () {
            const projectEntry = document.createElement("div");
            projectEntry.className = "project-entry";
            projectEntry.innerHTML = `
            <hr>
            <label> Project Name:</label>
                <input type="text" name="project_name">

                <label>Description:</label>
                <textarea name="project_description"></textarea>

                <label>Role:</label>
                <input type="text" name="project_role">

                <label>Tools:</label>
                <input type="text" name="project_tools">

                <label>Project Link:</label>
                <input type="text" name="project_link">
                `;
            projectsContainer.appendChild(projectEntry);
        });
    </script>


    <script>
        const languagesContainer = document.getElementById("languages-container");
        const addLanguageButton = document.getElementById("add-language");

        addLanguageButton.addEventListener("click", function () {

            const languageEntry = document.createElement("div");

            languageEntry.className = "language-entry";

            languageEntry.innerHTML = `
            <hr>

            <label>Language:</label>
            <input type="text" name="language">

            <label>Proficiency:</label>
            <input type="text" name="language_proficiency">
        `;

            languagesContainer.appendChild(languageEntry);
        });
    </script>

    <script>
        const achievementsContainer =
            document.getElementById("achievements-container");

        const addAchievementButton =
            document.getElementById("add-achievement");

        addAchievementButton.addEventListener("click", function () {

            const achievementEntry = document.createElement("div");

            achievementEntry.className = "achievement-entry";

            achievementEntry.innerHTML = `
            <hr>

            <label>Achievement Title:</label>
            <input type="text" name="achievement_title">

            <label>Description:</label>
            <textarea name="achievement_description"></textarea>
        `;

            achievementsContainer.appendChild(achievementEntry);
        });
    </script>


    <script>
        const volunteerContainer =
            document.getElementById("volunteer-container");

        const addVolunteerButton =
            document.getElementById("add-volunteer");

        addVolunteerButton.addEventListener("click", function () {

            const volunteerEntry = document.createElement("div");

            volunteerEntry.className = "volunteer-entry";

            volunteerEntry.innerHTML = `
            <hr>

            <label>Organization:</label>
            <input type="text" name="volunteer_organization">

            <label>Role:</label>
            <input type="text" name="volunteer_role">

            <label>Location:</label>
            <input type="text" name="volunteer_location">

            <label>Start Date:</label>
            <input type="text" name="volunteer_start_date">

            <label>End Date:</label>
            <input type="text" name="volunteer_end_date">

            <label>Description:</label>
            <textarea name="volunteer_description"></textarea>
        `;

            volunteerContainer.appendChild(volunteerEntry);
        });
    </script>


    <script>
        const certificationsContainer =
            document.getElementById("certifications-container");

        const addCertificationButton =
            document.getElementById("add-certification");

        addCertificationButton.addEventListener("click", function () {

            const certificationEntry = document.createElement("div");

            certificationEntry.className = "certification-entry";

            certificationEntry.innerHTML = `
            <hr>

            <label>Certification Name:</label>
            <input type="text" name="certification_name">

            <label>Organization:</label>
            <input type="text" name="certification_organization">

            <label>Date:</label>
            <input type="text" name="certification_date">
        `;

            certificationsContainer.appendChild(certificationEntry);
        });
    </script>


    <script>
        const referencesContainer =
            document.getElementById("references-container");

        const addReferenceButton =
            document.getElementById("add-reference");

        addReferenceButton.addEventListener("click", function () {

            const referenceEntry = document.createElement("div");

            referenceEntry.className = "reference-entry";

            referenceEntry.innerHTML = `
            <hr>

            <label>Name:</label>
            <input type="text" name="reference_name">

            <label>Relationship:</label>
            <input type="text" name="reference_relationship">

            <label>Organization:</label>
            <input type="text" name="reference_organization">

            <label>Email:</label>
            <input type="email" name="reference_email">

            <label>Phone Number:</label>
            <input type="text" name="reference_phone_number">
        `;

            referencesContainer.appendChild(referenceEntry);
        });
    </script>
</body>

</html>